:host {
  display: flex ;
  flex-direction: column ;
  height: 100% ;
}

mat-drawer-container {
  height: 100%;
}

mat-drawer-content {
  padding-bottom:  20px;
}

.offSidebar {
  width: 60px;
}

.padding-bottom-20 {
  padding-bottom: 20px;
}
